<table class="table text-center main-table">
    <thead>
        <tr class="tab-title">
            <th>Программа</th>
            <th>id</th>
            <th>Место</th>
        </tr>
    </thead>
    <tbody id="table-body-connect">
        <!--  -->
        {{#each connect}}
        <tr>
            <td>{{this.[0]}}</td>
            <td>{{this.[1]}}</td>
            <td>{{this.[2]}}</td>
        </tr>
        {{/each}}
    </tbody>
</table>