<table class="table text-center main-table" id="example" cellspacing="0" width="100%">
    <thead>
        <tr class="tab-title">
            <th>Имя</th>
            <th>Должность</th>
            <th>Номер</th>
        </tr>
    </thead>
    <tbody id="table-body-contacts">
        <!--  -->
        {{#each contact}}
        <tr>
            <td>{{this.[0]}}</td>
            <td>{{this.[1]}}</td>
            <td>{{this.[2]}}</td>
        </tr>
        {{/each}}
    </tbody>
</table>