<div class="modal" id="modalConfirmEdit">
  <a href="#close" class="modal-overlay" aria-label="Close"></a>
  <div class="modal-container">
    <div class="modal-header">
      <a href="#close" class="btn btn-clear float-right" aria-label="Close"></a>
      <div class="modal-title h5">Редактирование</div>
    </div>
    <div class="modal-body">
      <div class="content">
        <!-- content here -->
        <h6>Хотите сохранить изменения?</h6> 
      </div>
    </div>
    <div class="modal-footer">
      <button class="btn btn-save">Сохранить</button>
      <button class="btn btn-close">Отмена</button>
    </div>
  </div>
</div>