<div class="modal modal-create" id="modal-create">
  <a href="#close" class="modal-overlay" aria-label="Close"></a>
  <div class="modal-container modal-create-page1">
    <div class="modal-header">
      <a href="#close" class="btn btn-clear float-right" aria-label="Close"></a>
      <div class="modal-title h5">Контакты и подключения</div>
    </div>
    <div class="modal-body">
      <div class="content">
        <!-- content here -->
        <div class="columns text-dark text-left">
          <div class="column col-6">
            <div class="form-group cool-input">
              <input required class="form-input cool-input__input" type="text" id="createModal-name">
              <span class="cool-input__placeholder">Название</span>
            </div>

            <label class="form-label h6" for="contract-modal">Статус договора</label>
            <select class="form-select secodary-select" id="createModal-contract-modal">
              <option value="Оплачено">Оплачено</option>
              <option value="Неоплачено">Неоплачено</option>
            </select>

          </div>
          <div class="column col-6 ">
            <div class="form-group cool-input">
              <input class="form-input cool-input__input" type="text" id="createModal-legalAdress">
              <span class="cool-input__placeholder">Юридическое наименование</span>
            </div>
            <div class="form-group cool-input mt-10">
              <input class="form-input cool-input__input" type="text" id="createModal-actualAdress">
              <span class="cool-input__placeholder">Фактический адрес</span>
            </div>
          </div>
        </div>
        <fieldset class="form-fieldset form-fieldset-contact text-left">
          <legend class="form-legend form-legend-contact">Контакты <span
              class="icon-add-span-contact"><i
                class="icon icon-plus icon-plus-modal-contact"></i></span></legend>
          <div class="form-group text-dark text-left">

            <table class="table table-createModal-contact table-createModal text-center" id="table-dynamics-createModal-contact"
              cellspacing="0" width="100%">
              <thead>
                <tr class="tab-title table-striped">
                  <th>Ф.И.О</th>
                  <th>Должность</th>
                  <th>Номер</th>
                  <th></th>
                </tr>
              </thead>
              <tbody id="table-body-modal-contacts">
                <tr class="table-body-modal-contacts-row">
                  <td><input class="no-border text-center form-input" type="text" placeholder="Ф.И.О"></td>
                  <td><input class="no-border text-center form-input" type="text" placeholder="Должность"></td>
                  <td><input class="no-border text-center form-input phone" type="tel" placeholder="+7 (___) ___-____"></td>
                  <td><i class="icon icon-cross icon-cross-edit-modal"></i></td>
                </tr>
              </tbody>
            </table>
        </fieldset>
        <fieldset class="form-fieldset form-fieldset-connect text-left">
          <legend class="form-legend form-legend-connect">Подключения <span
              class="icon-add-span-connect"><i
                class="icon icon-plus icon-plus-modal-connect"></i></span></legend>
          <div class="form-group text-dark text-left">
            <table class="table table-createModal-connect table-createModal text-center" id="table-dynamics-createModalconnectt"
              cellspacing="0" width="100%">
              <thead>
                <tr class="tab-title table-striped">
                  <th>Тип подключения</th>
                  <th>ID</th>
                  <th>Наименование</th>
                  <th></th>
                </tr>
              </thead>
              <tbody id="table-body-modal-connects">
                <tr class="table-body-modal-connects-row">
                  <td>
                    <select class="form-select third-select readble" id="connect-modal">
                    <option  value="AmmyAdmin">AmmyAdmin</option>
                    <option value="AnyDesk">AnyDesk</option>
                    <option value="TeamViewer">TeamViewer</option>
                    </select>
                  </td>
                  <td><input class="no-border text-center form-input readble" type="number" id="input-example-1" placeholder="ID"></td>
                  <td><input class="no-border text-center form-input readble" type="text" id="input-example-1" placeholder="Наименование"></td>
                  <td><i class="icon icon-cross icon-cross-edit-modal"></i></td>
                </tr>
              </tbody>
            </table>
          </div>
        </fieldset>

      </div>
    </div>
    <div class="modal-footer">
      <ul class="pagination">
        <li class="page-item page-prev text-left disabled">
          <a href="#">
            <div class="page-item-title h5 btn-back">Назад</div>
          </a>
        </li>
        <ul class="step">
          <li class="step-item active">
            <a href="#" class="tooltip" data-tooltip="Step 1">Step 1</a>
          </li>
          <li class="step-item">
            <a href="#" class="tooltip" data-tooltip="Step 2">Step 2</a>
          </li>
          <li class="step-item">
            <a href="#" class="tooltip" data-tooltip="Step 3">Step 3</a>
          </li>
          <li class="step-item">
            <a href="#" class="tooltip" data-tooltip="Step 4">Step 4</a>
          </li>
        </ul>
        <li class="page-item page-next text-right">
          <a href="#">
            <div class="page-item-title h5 btn-next">Далее</div>
          </a>
        </li>
      </ul>
    </div>
  </div>
</div>