<div class="toast toast-success" id="notificationCreate" style="display: none;">
    <button class="btn btn-clear float-right"></button>
    Данные успешно добавленны!
</div>

<div class="toast toast-error" id="notificationDelete" style="display: none;">
    <button class="btn btn-clear float-right"></button>
    Данные успешно удалены!
</div>