<div class="toast toast-success" id="notificationCreate" style="display: none;">
    <button class="btn btn-clear float-right"></button>
    Данные успешно добавленны!
</div>

<div class="toast toast-success" id="notificationEdit" style="display: none;">
    <button class="btn btn-clear float-right"></button>
    Данные успешно редактированы!
</div>

<div class="toast toast-error" id="notificationDelete" style="display: none;">
    <button class="btn btn-clear float-right"></button>
    Данные успешно удалены!
</div>

 <div class="toast toast-error" id="modal-attempt" style="display: none;">
    <button class="btn btn-clear-attempt float-right"></button>
    Заполните поле "Название", либо введите корректную дату в разделе фискальный накопитель!
</div>