<!DOCTYPE html>
<html lang="en">

<head>
  <link rel="shortcut icon" href="/img/favicon.ico" type="image/ico">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">
  <link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/1.10.19/css/jquery.dataTables.css">

  <title>InfoPage</title>
</head>

<body>
    {{{ body }}}

   <script src="/js/jquery-3.4.0.min.js"></script>
   <script type="text/javascript" charset="utf8" src="https://cdn.datatables.net/1.10.19/js/jquery.dataTables.js"></script>
   {{!-- <script src="/js/jquery.dynatable.js"></script> --}}
   <script src="/js/sort.js"></script>

</body>

</html>