.panel-header {
    color: white;
    background-color: $general-color;

      .button-delete,
      .btn-close{
        background-color: $general-color;
        border-color: $border-color;
        color: white;
      } 

      .form-select {
        color: black;
        width: 100%;
      }

      .btn-plus {
        left: 0;
        top: 0.5rem;
      }
      
      .btn-delete {
        @extend .btn-plus;
        top: 2.5rem;
      }

      .btn-check{
        @extend .btn-plus;
        top: 4.5rem;
      }

      .panel-nav {
        margin-left: 10px;
      }

      .form-fieldset-createModal-equipmentList{
          box-shadow: 0 0.05rem 0.2rem rgba(48,55,66,.3);
          padding: .6rem;
      }
      
      
      .divider-createModal-equipmentList{
          margin: .2rem 0 .6rem 0 !important;
      }

      .icon-createModal-equipmentList-fn{ 
          top: -.7rem;
          right: 0;
          z-index: 1;
      }

      .form-fieldset {
        margin-top: -.6rem;
      }

      .form-fieldset-contact,
      .form-fieldset-connect{
        margin-top: .4rem;
        margin-bottom: 0;
      }
      
      .main-info{
        margin-top: .4rem;
        justify-content: center;
        align-items: flex-end;
        .fl-2{
          flex-basis: 45%;
        }
        .fl-1{
          flex-basis: 15%;
        }
      }
}