main{
  padding-left: 350px;

  .title-collapsible{
    color: black;
    font-weight: 500;
  }

  .collapsible-body {
    padding: .5rem;
  }

  .tabs{
    margin-top: .2rem;
  }

  #actualAdress{
    word-wrap: break-word;
    background: black;
  }

  .upSort{
    transform: rotate(180deg);
  }

  table{
    table-layout: fixed;
    td{
      height: 50px;
    }

    th{
      cursor: pointer;
    }
  }

  table.highlight{
    tbody{
      tr{
        &:hover{
          background-color: rgba(87, 86, 86, 0.25) !important;
        }
      }
    }
  }

  fieldset{
    border: 1px solid rgba(0,0,0,0.14);
  }

  .mainLogo{
    width: 17rem;
    height: 4.3rem;
  }

  nav{
    padding: 0 1rem;
  }
}