.slide {
  position: fixed;
  top: 0;
  left: 0;
  margin: 0;
  padding: 0;
  width: 350px;
  height: 100%;
  border-right: 1px solid rgba(0, 0, 0, 0.14);
  overflow: hidden;

  .heder-slide {
    padding: 1rem 0;
    border-bottom: 1px solid rgba(0, 0, 0, 0.14);
  }

  .titile-action {
    font-weight: 500;
  }

  li {
    a {
      color: black;
      display: block;
      font-size: 14px;
      font-weight: 500;
      line-height: 48px;
      height: 48px;
      padding: 0 1rem;
      &:hover {
        background-color: rgba(0, 0, 0, 0.05);
      }
    }

    .report{
      border-top: 1px solid rgba(0, 0, 0, 0.14);
    }
  }

  .logo-content {
    height: 64px;
    border-bottom: 1px solid rgba(0, 0, 0, 0.14);
    background-color: whitesmoke;

    .logo-img {
      width: 4rem;
      height: 4rem;
      padding: 0.2rem;
      margin-right: 1rem;
    }

    .browser-default {
      background-color: inherit;
      border: none;
      margin-left: 1rem;
      font-size: 16px;
      font-weight: 500;
    }
  }

  .avatar{
    cursor: pointer;
  }

  img{
    height: 64px;
  }
  
  #inp_file{
    width: 1px;
    height: 1px;
    visibility: hidden;
  }
}
