/*-----------SCSS---------------*/

$general-color:  #0B5BA6;
$border-color: #bcc3ce;

@import 'fieldset';
@import 'header';
@import 'margins';
@import 'buttons';
@import 'pagination';
@import'menu';

.icon {
  cursor: pointer;
  font-size: 14px;
}

i {
  font-size: 13px;
  width: 50px;
  height: 40px;
}

.icon-arrow-right{
  margin-left: .2rem;
}

.show {
    display: flex;
}
  
.hide {
    display: none;
}

.divider {
    border-top: .05rem solid $border-color;
}

.modal-create-page-1{
    max-width: 700px !important;
}
  
  .modal-create-page-2{
    max-width: 1000px !important;
}

#main-select{
    width: 20%;
    right: 0;
}

.table {
    height: 80px;

    .tab-title {
        font-size: 13px;
      }
}

//Необработанный код

/* Modals */
.page-item{
  flex: none !important;
  width: 100px;
}

.tab .tab-item.active a{
  border-bottom-color: $general-color;
  color: $general-color;
}

.tab .tab-item a:focus, .tab .tab-item a:hover {
  color: $general-color;
}

.content-equipment{
  display: none;
}

.table td, 
.table th {
padding: .4rem .2rem;
}

.table-equipment:not(.table-mblk){
  tr:not(.thead-2){
    td:nth-child(2),
    th:nth-child(2){
    border-right: .05rem solid #bcc3ce;
    }
  }
}

.table-mblk{
  tr:not(.thead-2){
    td:nth-child(3),
    th:nth-child(3){
    border-right: .05rem solid #bcc3ce;
    }
}
}

.div-equipment-head{
  justify-content: center;
}

.notes{
  width: 25rem;
  word-break: break-all;
}

#notificationCreate,
#notificationDelete {
  position:fixed;
  bottom: 2rem;
  right: 3rem;
  width:30%;
  z-index:105;
  text-align:center;
  font-weight:normal;
  font-size:14px;
  font-weight:bold;
  color:white;
  padding:5px;
}

.error{
  ::focus{
    background: #fffaf7;
  }
  box-shadow: 0 0 0 0.1rem rgba(232,86,0,.2);
  border-color: #e85600;
}