@import "_login.scss";
@import "_slidenav.scss";
@import "_main.scss";
@import "_404.scss";

.row {
  margin-bottom: 0;
}

.selected {
  background-color: rgba(0, 0, 0, 0.06);
}

.mt-2 {
  margin-top: 4rem;
}

.salmon{
  background-color: #ee6e73;
}