<table class="table table-hover text-center" id="example" cellspacing="0" width="100%">
    <thead>
        <tr class="tab-title">
            <th>Имя</th>
            <th>Должность</th>
            <th>Номер</th>
        </tr>
    </thead>
    <tbody class="main-table" id="table-contacts">
        <!--  -->
        {{#each doc.contact}}
        <tr>
            <td>{{this.[0]}}</td>
            <td>{{this.[1]}}</td>
            <td data="tel">{{this.[2]}}</td>
        </tr>
        {{/each}}
    </tbody>
</table>