<div class="modal modal-create" id="modal-create-page3">
    <a href="#close" class="modal-overlay" aria-label="Close"></a>
    <div class="modal-container modal-create-page-1">
        <div class="modal-header">
            <a href="#close" class="btn btn-clear float-right" aria-label="Close"></a>
            <div class="modal-title h5">Заявки клиента</div>
        </div>
        <div class="modal-body">
            <div class="content">
                <!-- content here -->

            </div>
        </div>
        <div class="modal-footer">
            <ul class="pagination">
                <li class="page-item page-prev text-left">
                    <a href="#">
                        <div class="page-item-title h5 btn-back">Назад</div>
                    </a>
                </li>
                <ul class="step">
                    <li class="step-item">
                        <a href="#" class="tooltip" data-tooltip="Step 1">Step 1</a>
                    </li>
                    <li class="step-item">
                        <a href="#" class="tooltip" data-tooltip="Step 2">Step 2</a>
                    </li>
                    <li class="step-item active">
                        <a href="#" class="tooltip" data-tooltip="Step 3">Step 3</a>
                    </li>
                    <li class="step-item">
                        <a href="#" class="tooltip" data-tooltip="Step 4">Step 4</a>
                    </li>
                </ul>
                <li class="page-item page-next text-right">
                    <a href="#">
                        <div class="page-item-title h5 btn-next">Далее</div>
                    </a>
                </li>
            </ul>
        </div>
    </div>
</div>