<!DOCTYPE html>
<html lang="en">

<head>
    {{> header }}
  <title>lk.ricam.ru</title>
</head>

<body>
    {{{ body }}}

    {{> footer}}
    <script src="/dist/editorTD.js"></script> 
    <script src="/assets/jquery.maskedinput.min.js"></script>

</body>

</html>